body {background-color: coral;
}
.parte01 {background-color: blue;
    h1 {text-align: center;}
    h2 {font-size: 100%;}
}
#ima1 {width: 60%;
}


.parte02 {background-color: chartreuse;
}
.parte03 { background-color: crimson;
}


